################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/StudyVSInstaller/.vs/StudyVSInstaller
/StudyVSInstaller/installer
/StudyVSInstaller/StudyVSInstaller/bin
/StudyVSInstaller/StudyVSInstaller/obj
/StudyXML/.vs/StudyXML
/StudyXML/StudyXML/bin/Debug
/StudyXML/StudyXML/obj
/StudyXML/tc6_all.dll
/StudyExcelAddIn/.vs/StudyExcelAddIn
/StudyExcelAddIn/StudyExcelAddIn/bin/Debug
/StudyExcelAddIn/StudyExcelAddIn/obj
/StudyVSInstaller
/StudyOutlookAddIn/.vs/StudyOutlookAddIn/v17
/StudyOutlookAddIn/StudyOutlookAddIn/bin/Debug
/StudyOutlookAddIn/StudyOutlookAddIn/obj/Debug
/StudyOutlookAddIn/StudyOutlookAddIn/obj/Release
/StudyOutlookAddIn/.vs/StudyOutlookAddIn/FileContentIndex
/StudyDesignPattern/StudyDesignPattern/bin/Debug/net6.0-windows
/StudyDesignPattern/.vs/StudyDesignPattern/v17
/StudyDesignPattern/StudyDesignPattern/obj/Debug/net6.0-windows
/StudyAntlr/.vs
/StudySTL/StudySTL/.vs/StudySTL
/StudySTL/StudySTL/StudySTL/x64/Debug/StudySTL.tlog
/StudySTL/StudySTL/StudySTL/x64/Debug/vc143.pdb
/StudySTL/StudySTL/StudySTL/x64/Debug/vc143.idb
/StudySTL/StudySTL/StudySTL/x64/Debug/StudySTL.obj
/StudySTL/StudySTL/StudySTL/x64/Debug/StudySTL.log
/StudySTL/StudySTL/StudySTL/x64/Debug/StudySTL.ilk
/StudySTL/StudySTL/StudySTL/x64/Debug/StudySTL.exe.recipe
/StudySTL/StudySTL/x64/Debug
/StudyDesignPattern/StudyDesignPattern/obj
/StudyDesignPattern/.vs/StudyDesignPattern/FileContentIndex

*.pdb
*.dll
*.cache
*.v2
*.exe
*.config
*.resources


/StudyDesignPattern/Machine/obj/Debug
/StudyDesignPattern/Observer/obj/Debug
