################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/StudyVSInstaller/.vs/StudyVSInstaller
/StudyVSInstaller/installer
/StudyVSInstaller/StudyVSInstaller/bin
/StudyVSInstaller/StudyVSInstaller/obj
/StudyXML/.vs/StudyXML
/StudyXML/StudyXML/bin/Debug
/StudyXML/StudyXML/obj
/StudyXML/tc6_all.dll
/StudyExcelAddIn/.vs/StudyExcelAddIn
/StudyExcelAddIn/StudyExcelAddIn/bin/Debug
/StudyExcelAddIn/StudyExcelAddIn/obj
/StudyVSInstaller
/StudyOutlookAddIn/.vs/StudyOutlookAddIn/v17
/StudyOutlookAddIn/StudyOutlookAddIn/bin/Debug
/StudyOutlookAddIn/StudyOutlookAddIn/obj/Debug
/StudyOutlookAddIn/StudyOutlookAddIn/obj/Release
/StudyOutlookAddIn/.vs/StudyOutlookAddIn/FileContentIndex
/StudyDesignPattern/StudyDesignPattern/bin/Debug/net6.0-windows
/StudyDesignPattern/.vs/StudyDesignPattern/v17
/StudyDesignPattern/StudyDesignPattern/obj/Debug/net6.0-windows
