p {
  color: orange;
}

header h1 {
  width: 100%;
  background-color: #06294f;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  marigin: 0;
  padding: 0 1em;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  scale: 100%;
  table-layout: fixed;
}

table tr:first-child{
  background:deepskyblue;
}

table th{
  text-align: center;
  padding: 10px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
}

table td{
  text-align: center;
  padding: 7px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
}

td, th{
  padding:2px;
}
